<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Camisetas</title>
</head>

<body class="body1">
    <div class="navbar2">
        <p class="letra">ENVÍO GRATIS EN TODOS LOS PEDIDOS DE MÁS DE $ 100</p>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light linea ">
        <a class="navbar-brand menu posicion2" href="/client/">INICIO</a>
        <a class="navbar-brand menu" href="#">INFORMACIÓN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="navbar-brand menu dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PRENDAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Camisetas</a>
                        <a class="dropdown-item" href="#">Sudaderas</a>
                        <a class="dropdown-item" href="#">Accesorios</a>
                    </div>
                <li class="nav-item">
                    <a class="navbar-brand menu" href="#">VIDEOS</a>
                </li>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 offset-md-3 card">
                <div class="card-body">
                    <form action="/update/<%= results.producto_id %>" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <p>Nombre</p>
                            <input type="text" name="name" value="<%= result.name %>" placeholder="name"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <p>Descripción</p>
                            <input type="text" name="description" value="<%= results.description %>"
                                placeholder="description" class="form-control">
                        </div>
                        <div class="form-group">
                            <p>Precio</p>
                            <input type="text" name="price" value="<%= results.price %>" placeholder="price"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <p>Stock</p>
                            <input type="text" name="stock" value="<%= results.stock %>" placeholder="stock"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <p>Talla</p>
                            <h5 class="card-title compra">TALLA <select id="talla" name="talla" class="compra">
                                    <option value="<%= results.talla %>">S</option>
                                    <option value="<%= results.talla %>">L</option>
                                    <option value="<%= results.talla %>">XL</option>
                                    <option value="<%= results.talla %>">XXL</option>
                                </select></h5>

                        </div>
                        <span>
                            <input type="file" class="input1" name="file" id="idname">
                        </span>
                        <label for="idname" class="label1">
                            <span>Imagen</span>
                        </label>

                        <button type="submit" class="btn btn-primary">save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>